@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');  /* Det här ger mig tillgång till att använda speciella fonts för mina texter */

html {
  background-color: black; /* Ger hela HTML hemsidan svart backgrund*/
  overflow-y: scroll;  /* Det här gör att jag kan scrolla på hela hemsidan på y-axeln*/
  overflow-x: hidden; 
}


h2, h1, h4, p {
  color: #FFFFFF; /* Ger följande klasser/grupper vitfärg */
}

#grupp1 {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;

}

.huvudcontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 2px;

}

.bakgrund {
  position: absolute;
  height: 65%;
  width: 98%;
  background-image: url(https://townsquare.media/site/812/files/2020/05/juice-wrld.jpg?w=1200);
  background-size: auto;
  border-style: solid black;
  border-radius: 2%;
  padding-top: 100px;
  margin: 5px;

}
.framgrund {
  position: relative;
  height: 100%;
  width: 97%;
  background: #958F8F;
  padding: 20px;
  margin: 5px;

}

.innehalltext { /* Vart titlarna ska sitta och vilken typ av position dem har i jämfört med andra klasser/grupper */
  position: absolute;
  left: 1000px;
  top: 130px;


}
 .huvudtitel { /* Ger huvudtiteln den färg, storlekt och typ på hemsidan */
  font-weight: bold;
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  color: black;

}

.sidtitel { /*Ger sidtiteln för egenskaper som storlek, rum mellan tecken och färg */
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
}

.albumfoto {
  margin: 10px;
  padding: 15px;
  flex-wrap: nowrap; /* Gör så att elementen radas upp efter varandra utan att jag behöver fixa positionen för det */
  display: flex; /*ger tillgång till flexbox */
  text-align: center;
  font-size: 17px;
  flex-direction: row; /*Avgör hur elementen kommer radas upp */

}

#information {
  top: 768px;
  border-style: solid black;
  border-radius: 2%;
}

#albums {
  top: 790px;
  position: relative;
  background: #958F8F;
  margin: 5px;
  border-style: solid black;
  border-radius: 2%;
  padding: 15px;
}
