@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');

html {
  background-color: black;
}

div {
    box-sizing: border-box;
}

h2, h4, h1, p {
  color: #FFFFFF;''
}

#group1 {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.huvudcontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 2px;

}

.bakgrund {
  display: table;
  position: absolute;
  height: 64%;
  width: 100%;
  background-image: url(https://townsquare.media/site/812/files/2020/05/juice-wrld.jpg?w=1200);
  background-size: cover;
  padding-top: 100px;
}
.framgrund {
  position: absolute;
  top: 630px;
  height: 100%;
  width: 100%;
  background: #958F8F;
  padding: 0px;
  margin: 8px;

}

.innehalltext {
  position: absolute;
  left: 30px;
  top: 100px;


}
 .huvudtitel {
  font-weight: bold;
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  color: black;

}

.sidtitel {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
}

.albumfoto {
  border: 2px solid black ;
  border-radius: 3%;
  padding-top: 40px;

}
